$white: #FFF;
$black: #000;
$darcGray: #222;

$shift: 65px;
$slider-btn: rgba(42, 42, 42, 0.15);
$slider-hover: #F16D7F;

@mixin slider-btn {
    padding: 0;
    width: 47px;
    height: 47px;
    border: none;
    outline: none;

    font-size: 22px;
}

@mixin slider-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@mixin cart-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

@mixin cart-font {
    font-style: normal;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    color: #575757;
}

@mixin registr-font($weight, $size, $height, $color) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;

    color: $color;
}