@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;
}

.center {
  padding: 0 calc(50% - 1140px / 2);
}

.wrap {
  width: 1140px;
  margin: 0 auto;
}

.hidden {
  position: absolute;
  left: -999999px;
  width: 0px;
  height: 0;
  visibility: hidden;
}

main {
  margin-bottom: 95px;
}

.header {
  background-color: #222;
  height: 75px;
  color: #E8E8E8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* .menu-link__logo {
    margin-right: 41px;
} */
.menu-link i:hover {
  text-decoration: none;
  color: #54D65F;
}

.menu-link__btn {
  background: #222;
  border: none;
  /* height: 42px; */
  /* width: 42px; */
  cursor: pointer;
}

.menu-link i {
  color: #E8E8E8;
  font-size: 26px;
}

.menu-list {
  display: inline;
  list-style-type: none;
  margin-right: 33px;
}

.menu-list:last-child {
  margin-right: 0px;
}

.menu-link {
  text-decoration: none;
  color: #E8E8E8;
  font-weight: 300;
}

.brand {
  background-color: #F1E4E6;
  height: 764px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brand-photo {
  background: url(../img/brand.png);
  height: 764px;
  width: 61%;
  background-position: right;
}

.brand-title {
  width: 49%;
  text-transform: uppercase;
  border-left: 12px solid #F16D7F;
  padding: 0 16px;
  margin-left: 91px;
}

.brand-title h1 {
  margin: 0;
  padding: 0;
}

.brand-title__big {
  font-style: normal;
  font-family: Lato;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  color: #222;
}

.brand-title__normal,
.brand-title__red {
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: #222;
}

.brand-title__red {
  color: #F16D7F;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 65px;
}

.promo-block {
  width: 360px;
  height: 260px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

/* .promo-block:hover {
    box-shadow: 0px 0px 14px 0px rgba(111, 93, 175, 1);
} */
/* .promo-block:hover .promo-link__small {
    font-size: 18px;
} */
/* .promo-block:hover .promo-link__big {
    font-size: 28px;
} */
.promo-block__women {
  background: url(../img/women.jpg);
}

.promo-block__men {
  background: url(../img/men.jpg);
}

.promo-block__kids {
  background: url(../img/kids.jpg);
}

.promo-block__acc {
  background: url(../img/acc.jpg);
  width: 100%;
  height: 180px;
  margin-bottom: 0;
}

.promo-link {
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.promo-link__small {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FFF;
}

.promo-link__big {
  font-style: normal;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #F16D7F;
}

.feture-items {
  margin-top: 96px;
  text-align: center;
}

.feture-items h2 {
  text-align: center;
  font-style: normal;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  color: #000;
  margin: 0;
}

.feture-items__text {
  text-align: center;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #9F9F9F;
  margin-top: 6px;
}

.feture {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 18px;
}

.feture-block {
  height: 581px;
  width: 360px;
  background-color: #F8F8F8;
  margin-bottom: 30px;
}

.feture-link {
  text-decoration: none;
}

.feture-desc {
  text-align: left;
  margin: 24px 20px;
}

.feture-title {
  text-transform: uppercase;
  font-style: normal;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  color: #000;
}

.feture-text {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #5D5D5D;
}

.feture-price {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #F16D7F;
}

.feture-btn {
  padding: 14px 38px;
  border: 1px solid #FF6A6A;
  background: none;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
  color: #F26376;
}

.feture-btn:hover {
  background: #F16D7F;
  border: 1px solid #FF6A6A;
  color: #FFF;
  cursor: pointer;
}

.feture-btn:focus {
  outline: none;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 341px;
  background: #222224;
}

.feature-block {
  height: 134px;
  width: 360px;
  text-align: center;
}

.block-icon__mod {
  margin-bottom: -6px;
}

.block-title {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #FBFBFB;
}

.block-text {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #FBFBFB;
}

.subscribe-items {
  background: url(../img/bcg-img.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog {
  text-align: center;
  width: 360px;
  height: 225px;
}

.blog-text {
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: #222224;
}

.blog-text__italic {
  font-style: italic;
}

.subscribe {
  width: 557px;
  height: 142px;
  text-align: center;
}

.subscribe-title {
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #222224;
  text-transform: uppercase;
}

.subscribe-title__big {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

.forma {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.forma-field {
  width: 256px;
  padding: 16px 20px;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background: #E1E1E1;
}

.forma-field:focus,
.forma-btn:focus {
  outline: none;
  border: none;
  border-right: none;
}

.forma-field:hover {
  /* background-color: grey; */
}

.forma-field,
.forma-field::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.forma-field,
.forma-field:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.forma-field,
.forma-field::-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.forma-field,
.forma-field::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.forma-btn {
  width: 100px;
  background: #F16D7F;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFFFFF;
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 49px;
  background: #222224;
}

.copy-text {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  color: #FBFBFB;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.social-link {
  color: #000;
  text-decoration: none;
  font-size: 14px;
  background: #FFFFFF;
  margin: 5px;
  border-radius: 5px;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*  display: inline-block; */
}

.social-link:hover {
  color: #fff;
  background: #F16D7F;
}

.breadcrumb {
  height: 148px;
  background: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bread-title {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.bread-menu {
  list-style: none;
}

.bread-list {
  display: inline;
}

.bread-list::before {
  color: #636363;
  content: "/\00a0";
}

.bread-list:first-child::before {
  content: none;
}

.bread-link {
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
  text-decoration: none;
}

.bread-link:hover,
.active {
  font-weight: 700;
}

.feature-items__cat {
  margin-top: 64px;
}

.filter-items {
  margin-top: 51px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-select {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  clear: both;
}

::-webkit-details-marker {
  display: none;
}

.filter-btn,
.filter-btn__nav {
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
  background: none;
  border: none;
  color: #000;
  cursor: pointer;
}

.filter-btn::after {
  content: url("../img/icon-filter.svg");
  padding-left: 10px;
}

.filter-btn:focus {
  border: none;
  outline: none;
}

.flt {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding: 13px 16px;
}

.flt[open] {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 12px 8px rgba(148, 189, 204, 0.53);
          box-shadow: 0px 1px 12px 8px rgba(148, 189, 204, 0.53);
}

.flt__det {
  margin-top: 16px;
}

.flt__summary {
  display: block;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding: 10px;
  outline: none;
  cursor: pointer;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-transform: uppercase;
  color: #EF5B70;
}

.summary-menu {
  padding-left: 34px;
}

.summary-list {
  list-style-type: none;
  padding-bottom: 16px;
}

.summary-list:last-child {
  padding-bottom: 0;
}

.summary-link {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #6F6E6E;
  clear: both;
}

.flt-filt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding: 13px 16px;
}

.flt-filt[open] {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 12px 8px rgba(148, 189, 204, 0.53);
          box-shadow: 0px 1px 12px 8px rgba(148, 189, 204, 0.53);
}

.filter-btn__nav {
  font-weight: 400;
  color: #6F6E6E;
  clear: both;
}

.filter-btn__nav::after {
  font-family: fontawesome;
  content: "\f105";
  padding-left: 10px;
  clear: both;
}

.flt-filt[open] .filter-btn__nav::after {
  font-family: fontawesome;
  content: "\f107";
  padding-left: 10px;
  clear: both;
}

.filter-btn__nav:focus {
  border: none;
  outline: none;
  clear: both;
}

.mt {
  margin-top: 7px;
}

.feature-items__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.pagination {
  display: inline-block;
  outline: 1px solid #EBEBEB;
  padding: 0;
}

.pagination-list {
  display: inline-block;
  list-style-type: none;
  padding: 4px 5px;
}

.pagination-link {
  color: black;
  float: left;
  /* padding: 8px 16px; */
  text-decoration: none;
}

.pagination-link__page {
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  color: #EF5B70;
}

.wrap {
  width: 600px;
  margin: 0 auto;
  border: 1px solid red;
}

.slider {
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 65px;
}

.slider-img {
  padding-top: 10px;
}

.slider-btn {
  padding: 0;
  width: 47px;
  height: 47px;
  border: none;
  outline: none;
  font-size: 22px;
  background-color: rgba(42, 42, 42, 0.15);
  color: #000;
  cursor: pointer;
  position: absolute;
}

.slider-btn:hover {
  color: #F16D7F;
}

.slider-btn:active {
  color: #000;
}

.slider-btn-left {
  left: 0;
}

.slider-btn-right {
  right: 0;
}

.about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #FFF;
  margin-top: -65px;
  position: relative;
  /* чтобы блок был над, а не под */
  border: 1px solid #EAEAEA;
  height: 600px;
}

.about-wrap-name {
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}

.about-wrap-line-sm {
  height: 3px;
  width: 63px;
  background: #EF5B70;
}

.about-wrap-title {
  font-style: normal;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
}

.about-wrap-desc {
  text-align: center;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5E5E5E;
  padding-top: 15px;
}

.about-wrap-price {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
}

.about-wrap-line-xl {
  height: 1px;
  width: 641px;
  background: #EAEAEA;
  margin-top: 35px;
}

.about-wrap-select {
  width: 540px;
  margin-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-wrap-btn {
  margin-top: 45px;
  border: 1px solid #FF6A6A;
  background: #FFF;
  padding: 13px 55px 8px 23px;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
}

.about-wrap-btn::before {
  content: url(../../img/icon-cart.svg);
  vertical-align: middle;
  color: #F26376;
  padding-right: 22px;
}

.block, .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 96px;
}

.cart-block {
  height: 306px;
  width: 652px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-shadow: 14px 14px 14px 5px #F8F3F4;
          box-shadow: 14px 14px 14px 5px #F8F3F4;
}

.cart-block-desc {
  padding-left: 31px;
  min-width: 360px;
}

.cart-block-desc > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-block-title {
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  color: #000;
  margin-bottom: 42px;
}

.cart-block-but {
  border: none;
  background: none;
  cursor: pointer;
  fill: #575757;
}

.cart-block-but:hover {
  fill: blue;
}

.cart-block-but:focus {
  outline: none;
  background: none;
  cursor: pointer;
  fill: tomato;
}

.cart-block-price, .cart-block-color, .cart-block-size, .cart-block-quant {
  font-style: normal;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #575757;
  margin: 10px 0 0 0;
}

.cart-block-price_red, .cart-block-color_red, .cart-block-size_red {
  color: #F16D7F;
}

.cart-block-quant_numb {
  display: inline;
  border: 1px solid #EAEAEA;
  text-align: center;
  width: 43px;
  height: 26px;
  padding-left: 5px;
  margin-left: 24px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}

.cart-form {
  height: 272px;
  width: 360px;
  margin-bottom: 40px;
}

.cart-form-title {
  margin: 0;
  font-style: normal;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  text-transform: uppercase;
  color: #000;
}

.cart-form-input {
  height: 45px;
  width: 100%;
  min-width: 100%;
  padding-left: 15px;
  border: 1px solid #A4A4A4;
  margin-top: 20px;
  font-style: normal;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #000;
}

.cart-form-input::-webkit-input-placeholder {
  font-style: normal;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-form-input:-ms-input-placeholder {
  font-style: normal;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-form-input::-ms-input-placeholder {
  font-style: normal;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-form-input::placeholder {
  font-style: normal;
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
  color: #B1B1B1;
}

.cart-form-btn {
  margin-top: 20px;
  padding: 12px 15px;
  background: #FFF;
  border: 1px solid #A4A4A4;
  cursor: pointer;
  font-style: normal;
  font-size: 11px;
  font-weight: 300;
  line-height: 13px;
  text-transform: uppercase;
  color: #4A4A4A;
}

.cart-form-bcg {
  background: #F5F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 37px;
}

.cart-form-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-form-total-sub {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #4A4A4A;
}

.cart-form-total-sub_big {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000;
}

.cart-form-total-total-price {
  margin-left: 20px;
}

.cart-form-total-total-price_big {
  color: #F16D7F;
}

.cart-form-total-line {
  width: 275px;
  height: 1px;
  background: #E2E2E2;
}

.cart-form-total-btn {
  margin-top: 20px;
  width: 273px;
  height: 50px;
  background: #F16D7F;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.block-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 100%;
}

.block-btn-cart {
  margin-top: 45px;
  border: 1px solid #A4A4A4;
  background: #FFF;
  padding: 17px 39px;
  cursor: pointer;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000;
}
/*# sourceMappingURL=style.css.map */