.subscribe-items {
    background: url(../img/bcg-img.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 448px;

    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.blog {
    text-align: center;
    width: 360px;
    height: 225px;
}

.blog-text {
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #222224;
}

.blog-text__italic {
    font-style: italic;
}

.subscribe {
    width: 557px;
    height: 142px;
    text-align: center;
}

.subscribe-title {
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    color: #222224;
    text-transform: uppercase;
}

.subscribe-title__big {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}

.forma {
    display: flex;
    justify-content: center;
}

.forma-field {
    width: 256px;
    padding: 16px 20px;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background: #E1E1E1;
}

.forma-field:focus,
.forma-btn:focus {
    outline: none;
    border: none;
    border-right: none;
}

.forma-field:hover {
  /* background-color: grey; */
}

.forma-field,
.forma-field::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
}

.forma-btn {
    width: 100px;
    background: #F16D7F;
    border:none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #FFFFFF;

    cursor: pointer;
}