.filter-items {
    margin-top: 51px;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.filter {
    display: flex;
    justify-content: space-between;
}

.filter-select {
    width: 360px;
    position: relative;
    display: flex;
    margin-right: 30px;
    clear: both;
    z-index: 1;
}

::-webkit-details-marker {display: none;}

.filter-btn,
.filter-btn__nav {
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-transform: uppercase;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
}

.filter-btn::after {
    content: url('../img/icon-filter.svg');
    padding-left: 10px;
}

.filter-btn:focus {
    border: none;
    outline: none;
}

.flt {
    width: 360px;
    display: flex;
    text-align: left;
    padding: 13px 16px;
}

.flt[open] {
    background: #FFFFFF;

    box-shadow:0px 1px 12px 8px rgba(148,189,204,0.53);
}

.flt__det {
    margin-top: 16px;
}

.flt__summary {
    display: block;
    border-left: 5px solid #EF5B70;
    border-bottom: 1px solid #EBEBEB;
    padding: 10px;
    outline: none;
    cursor: pointer;

    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: uppercase;
    color: #EF5B70;
}

.summary-menu {
    padding-left: 34px;
}

.summary-list {
    list-style-type: none;
    padding-bottom: 16px;
}

.summary-list:last-child {
    padding-bottom: 0;
}

.summary-link {
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #6F6E6E;
    clear: both;
}

.flt-filt {
    display: flex;
    text-align: left;
    padding: 13px 16px;
    }

.flt-filt[open] {
    background: #FFFFFF;
    box-shadow:0px 1px 12px 8px rgba(148,189,204,0.53);
}

.filter-btn__nav {
    font-weight: 400;
    color: #6F6E6E;
    clear: both;
}

.filter-btn__nav::after {
    font-family: fontawesome;
    content: "\f105";
    padding-left: 10px;
    clear: both;
}

.flt-filt[open] .filter-btn__nav::after {
    font-family: fontawesome;
    content: "\f107";
    padding-left: 10px;
    clear: both;
}

.filter-btn__nav:focus {
    border: none;
    outline: none;
    clear: both;
}

.mt {
    margin-top: 7px;
}

.filter-select__mobile {
    display: none !important;
}

.filter-btn__mobile::after {
    content: '' !important;
}

/* Media */

@media all and (max-width: 1239px){
    .filter-select__left {
        width: 40% !important;
    }
    .filter-select {
        margin-right: 0;
        width: 29%;
    }
    .filter-btn__nav {
        font-size: 12px;
        line-height: 14px;
    }
    .filter-btn__trend {
        width: 115px;
    }
}

@media all and (max-width: 820px){
    .filter-select__left {
        display: none !important;
        width: 50px !important;
    }
    .filter-select__mobile {
        display: flex !important;
        width: 50px;
        z-index: 4;
    }
    .filter-select__mobile .flt[open] {
        width: 360px;
    }
    .filter-btn__nav {
        font-size: 10px;
        line-height: 12px;
    }
    .summary-menu {
        padding-left: 14px;
    }
    .flt__det {
        width: 350px;
    }
    .filter-select {
        margin-right: 0;
        width: 83%;
    }
    .filter-btn__nav {
        font-size: 12px;
        line-height: 14px;
    }
    .filter-btn__trend {
        width: 115px;
    }
}